@mixin myFlex() {
  display: flex;
  align-items: center;
}


// @mixin mq($width) {
//   @if ($width == 'tablet') {
//     // Medium devices (tablets, 768px and up)
//     @media (min-width: 768px) { 
//       @content
//      }
//   } @else {
//     @media (min-width: 992px) { 
//       @content
//      }
    
//   }
// }



