.Header {

  &-navbar {
    background-color: $nav-bg;
    @include myFlex();
    padding: 4px 13px;

    &-leftside {
      @include myFlex();
  
      .links {
        margin-left: 30px;
        a {
          color: $nav-link-color;
          font-family: $my-font;
          margin-right: 15px;
        }
      }

      
    }

    &-rightside {
      @include myFlex();
      margin-left: auto;

      .searchbar {
        @include myFlex();
        position: relative;

        input {
          width: 300px;
          font-family: $my-font;
          font-size: 12px;
          border-radius: 4px;
          height: 30px;
          border: none;
          padding-left: 10px;
          background-color: rgba(209, 209, 240, 0.2);
          color: $nav-link-color;
        }
        
        .logo {
          position: absolute;
          right: 3px;
          top: 7px;
        }
      }

      .button {
        margin-left: 30px;

        a {
          font-family: $my-font;
          background-color: $nav-link-color;
          color: $nav-bg;
          font-weight: 600;
          font-size: 14px;
          border-radius: 4px;
          padding: 5px;
        }
      }
    }
  }

  
}