@import 'normalize';
@import 'formalize';
@import 'variables';
@import 'mixin';
@import 'style';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}